<div class="product">
    <div class="product-img">
        <img src="{{this.image_url}}" alt="{{this.image_url}}">
    </div>
    <div class="product-description">
        <p class="product-name">{{this.name}}</p>
        <p class="product-tagline">{{this.tagline}}</p>
        <p class="product-description">{{this.description}}</p>
    </div>
</div>