{{#each data}}
<div class="random">
    <div class="random-img">
        <img src="{{this.image_url}}" alt="image_url">
    </div>
    <div class="random-description">
        <p>{{this.name}}</p>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
        <p>{{this.food_pairing}}</p>
        <p>{{this.brewers_tips}}</p>
    </div>
</div>
{{/each}}
